
.icon-icon_app:before { content: '\e800'; } /* '' */
.icon-icon_award:before { content: '\e801'; } /* '' */
.icon-icon_bank:before { content: '\e802'; } /* '' */
.icon-icon_book-chart:before { content: '\e803'; } /* '' */
.icon-icon_earth:before { content: '\e804'; } /* '' */
.icon-icon_gift:before { content: '\e805'; } /* '' */
.icon-icon_group:before { content: '\e806'; } /* '' */
.icon-down-open-big:before { content: '\e807'; } /* '' */
.icon-icon_mac-check:before { content: '\e808'; } /* '' */
.icon-icon_money-round:before { content: '\e809'; } /* '' */
.icon-icon_money-txn:before { content: '\e80a'; } /* '' */
.icon-icon_money-up:before { content: '\e80b'; } /* '' */
.icon-icon_money-up1:before { content: '\e80c'; } /* '' */
.icon-icon_moneybox:before { content: '\e80d'; } /* '' */
.icon-icon_pc-chartup:before { content: '\e80e'; } /* '' */
.icon-icon_r-fb:before { content: '\e80f'; } /* '' */
.icon-icon_r-in:before { content: '\e810'; } /* '' */
.icon-icon_r-line:before { content: '\e811'; } /* '' */
.icon-icon_r-webo:before { content: '\e812'; } /* '' */
.icon-icon_r-wechat:before { content: '\e813'; } /* '' */
.icon-icon_setting:before { content: '\e814'; } /* '' */
.icon-icon_trun-money:before { content: '\e815'; } /* '' */
.icon-icon_url:before { content: '\e816'; } /* '' */
.icon-icon_user:before { content: '\e817'; } /* '' */
.icon-icon_video:before { content: '\e818'; } /* '' */
.icon-icon_wechat:before { content: '\e819'; } /* '' */
.icon-icon_window:before { content: '\e81a'; } /* '' */
.icon-icon_work:before { content: '\e81b'; } /* '' */
.icon-icon_home:before { content: '\e81c'; } /* '' */
.icon-left-open-big:before { content: '\e81d'; } /* '' */
.icon-right-open-big:before { content: '\e81e'; } /* '' */
.icon-up-open-big:before { content: '\e81f'; } /* '' */
.icon-up-open-mini:before { content: '\e820'; } /* '' */
.icon-right-open-mini:before { content: '\e821'; } /* '' */
.icon-left-open-mini:before { content: '\e822'; } /* '' */
.icon-down-open-mini:before { content: '\e823'; } /* '' */
.icon-star-empty:before { content: '\e824'; } /* '' */
.icon-star:before { content: '\e825'; } /* '' */
.icon-th-large:before { content: '\e826'; } /* '' */
.icon-cancel:before { content: '\e827'; } /* '' */
.icon-wallet:before { content: '\e828'; } /* '' */
.icon-icon_home_qr-code:before { content: '\e853'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */